@import "tailwindcss";

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/font/inter-roman-latin-var.woff2") format("woff2");
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

.dark {
  color-scheme: dark;
}
